<div class="avatar">
  <img class="rounded-circle" src="{{avatar}}" alt="">
</div>
<div class="chats-item-body">
  <div class="chats-item-info">
    <h2 class="chats-title m-0">{{title}}</h2>
    <p class="chats-last-message">{{#if last_message}}{{last_message.content}}{{else}}no messages{{/if}}</p>
  </div>
  {{#if last_message}}
    <div class="chats-last-message-info">
						<span>
              {{last_message.timeDisplay}}
            </span>
      {{#if unread_count}}
        <div class="chats-unread-messages">
          {{unread_count}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
