<div class="avatar">
  <img class="rounded-circle" src="{{avatar}}" alt="">
</div>
<div class="users-item-body">
  <div class="users-item-info">
    <h2 class="user-display-name">{{#if display_name}}{{display_name}}{{else}}{{first_name}} {{second_name}}{{/if}}</h2>
  </div>
</div>
