<div class="add-user">
  <div class="mb-1 input-container">
    <input
      event-input="[[onInput]]"
      value="{{inputValue}}"
      class="form-control"
      type="text"
      name="login"
      id="login"
      placeholder=" "
    />
    <label for="login" class="placeholder">User login</label>
  </div>
  {{#if empty}}
    <div class="not-found">No users found...</div>
  {{else}}
    <div class="finded-users">
      {{#if users}}
        <ul>
          {{#each users}}
            <li data-id="{{id}}" class="user" event-click="[[selectUser]]">
              <img class="rounded-circle" src="{{avatar}}" alt="">
              <div class="d-flex justify-content-between w-100">
                <div class="user-name">
                  {{first_name}} {{second_name}}
                </div>
                <div class="user-id-login">
                  <span class="id">ID: {{id}}</span>
                  <span class="login">{{login}}</span>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/if}}

  <div class="buttons">
    <button class="btn" event-click="[[addUser]]">Add</button>
    <button class="btn outline" event-click="[[notNow]]">Not now</button>
  </div>

</div>
